{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}sdaas{% endblock %}</title>

    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'surfer/style.css' %}" />
</head>

<body>
    <header class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="/static/surfer/sdaas.png" alt="sdaas" height="80px"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li role="presentation"><a href="/">Home</a></li>
                        {% block menubar %}

                        {% endblock %}
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <section class="container-fluid">
            {% block content %}{% endblock %}
        </section>
    </div>

    <footer class="footer">
        <div class="container">
            {% block footer %}

                <p class="text-muted">Current server time: {% now "d/m/Y H:i:s" %} ||
                Copyright &copy; 2017 Devin Hillenius, Thomas Schaper &amp; Youri Voet - University of Amsterdam<p>

            {% endblock %}
        </div>
    </footer>

    {% bootstrap_javascript jquery=1 %}

    <script type="text/javascript">
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>
