{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}sdaas{% endblock %}</title>

    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'surfer/style.css' %}" />
</head>

<body>
    <header class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>sdaas</h1>
                <span>Current server time: {% now "d/m/Y H:i:s" %}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="/">Home</a></li>
                    {% block menubar %}

                    {% endblock %}
                </ul>
            </div>
        </div>
    </header>

    <section class="container-fluid">
        {% block content %}{% endblock %}
    </section>

    <footer class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% block footer %}

                <p>Copyright &copy; 2017 sdaas.nl<p>

                {% endblock %}
            </div>
        </div>
    </footer>

    {% bootstrap_javascript %}
</body>
</html>
