{% extends "base.html" %}

{% load bootstrap3 %}
{% load surfer_extras %}

{% block content %}

{% if channel %}
    <div class="row">
        <div class="col-md-6">
            <h3>{{ channel.name }}
                <a href="/channel/{{ channel.id }}/edit/">{% bootstrap_icon "pencil" %}</a></h3>
            <dl>
                <dt>URL</dt>
                <dd>{{ channel.url }}</dd>
                <dt>Color</dt>
                <dd><div class="color-bar" style="background-color:{{ channel.color_str }}"></div></dd>
            </dl>

            <h3>Settings</h3>

            <table class="table table-striped">
            {% for cat_id, cat, part, options in parts %}
                <thead> 
                    <tr>
                        <th>{{ cat }}</th>
                        <th>{{ part }}</th>
                        <th style="text-align:right">
                            {% if part != "Not set" and options|length > 0 %}
                                {% bootstrap_button "Edit options" href="/channel/"|addstr:channel.id|addstr:"/settings/"|addstr:cat_id|addstr:"/" %}
                            {% endif %}
                        </th>
                    </tr>
                </thead> 

                {% if options|length > 0 %}
                    <tbody>
                        {% for option in options %}
                            <tr>
                                <td>{{ option.name }}</td>
                                <td colspan="2">
                                    {% if option.value == "" %}
                                        Not set
                                    {% else %}
                                        {{ option.value }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endif %}
            {% endfor %}
            </table>


            {% bootstrap_button "Edit part settings" href="/channel/"|addstr:channel.id|addstr:"/settings/" %}
        </div>

        <div class="col-md-6">
            <h3>Music</h3>
            <table class="table">
                <tr>
                    <th>File</th>
                    <th>Actions</th>
                </tr>


                {% for f in files %}
                    <tr>
                        <td>{{ f.filename }}</td>
                        <td>
                            {% if f.is_processed %}
                                {% bootstrap_button "Delete" href="/file/"|addstr:f.id|addstr:"/delete/" button_class="btn-danger" %}
                            {% else %}
                                Processing...
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}

            </table>

            <form action="/channel/{{ channel.id }}/upload/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="submit" />
            </form>
        </div>
    </div>
{% else %}
    <p>Channel not found</p>
{% endif %}

{% endblock %}
