{% extends "base.html" %}

{% load bootstrap3 %}
{% load surfer_extras %}

{% block content %}

{% if session %}
    <div class="row">
        <div class="col-md-12">
            <h3>{{ session.name }}
                <a href="/session/{{ session.id }}/edit/">{% bootstrap_icon "pencil" %}</a></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <dl>
                <dt>Start</dt>
                <dd>{{ session.start }}</dd>
                <dt>End</dt>
                <dd>{{ session.end }}</dd>
                <dt>Join code</dt>
                <dd>{{ session.join_code }}</dd>
            </dl>

            {% if not session.has_started and not session.is_starting %}
                {% bootstrap_button "Start session" href="/session/"|addstr:session.id|addstr:"/start/" button_class="btn-primary" %}
            {% endif %}

            {% if session.is_starting %}
                <span>Session is starting...</span>
            {% elif session.has_started %}
                <span>Session has started.</span>
            {% endif %}
        </div>

        <div class="col-md-6">
            <h4>Channels</h4>

            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Color</th>
                    <th>Actions</th>
                </tr>

                {% for c in channels %}
                    <tr>
                        <td>{{ c.name }}</td>
                        <td><a href="/channel/{{ c.id }}/">{{ c.url }}</a></td>
                        <td><div class="color-bar" style="background-color:{{ c.color_str }}"></div></td>
                        <td>
                            {% if c.is_initialized %}
                                {% bootstrap_button "View" href="/channel/"|addstr:c.id|addstr:"/" %}

                                {% if not session.is_starting and not session.has_started %}
                                    {% bootstrap_button "Edit" href="/channel/"|addstr:c.id|addstr:"/edit/" button_class="btn-warning" %}
                                    {% bootstrap_button "Delete" href="/channel/"|addstr:c.id|addstr:"/delete/" button_class="btn-danger" %}
                                {% endif %}
                            {% else %}
                                Initializing channel...
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>



            {% if not session.is_starting and not session.has_started %}
                {% bootstrap_button "Add new channel" href="/session/"|addstr:session.id|addstr:"/channel/add/" %}
            {% endif %}
        </div>
    </div>

{% else %}
    <p>Session not found</p>
{% endif %}

{% endblock %}
